.navbar {
  border: none;
  border-radius: 0;
  margin: 0; }

.navbar-default .navbar-brand {
  color: #525252; }

.navbar-brand {
  float: left;
  height: 500px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px; }

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #d3cb9b;
  text-shadow: none; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #dfdfdf;
  background-color: #364e64; }

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:focus {
  color: #d3cb9b;
  background-color: #2c4053; }

/* override bootstrap navbar colors */
.navbar,
.navbar-default {
  background: #2c4053; }

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px; }

.welcome-bullets {
  display: flex;
  flex-direction: column; }

.welcome-bullet-item {
  padding: 5px; }

.welcome-button {
  align-self: center;
  color: white;
  background: slategrey;
  border: none; }

.welcome-button:hover {
  color: black;
  background: #d3cb9b;
  border: 1px solid gold;
  box-shadow: 0 0 5px 1px gold; }

.welcome-chart {
  flex: 1 1 40%;
  align-self: center; }

.welcome-component {
  height: 55%;
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin-top: 7%;
  align-items: center; }

.welcome-headline {
  position: absolute;
  left: 50.20%;
  top: 70%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px; }

.welcome-info {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 40%; }

.welcome-info > h1 {
  text-align: center;
  font-size: 55px;
  color: #2c4053; }

.welcome-info > h4 {
  margin-top: 20px;
  padding: 0 20px; }

@media screen and (max-width: 992px) {
  .welcome-component {
    flex-direction: column; }

  .welcome-bullets {
    flex-direction: row; }

  .welcome-chart {
    margin-top: 40px; } }
@media screen and (max-width: 767px) {
  .welcome-component {
    flex-direction: column; }

  .welcome-bullets {
    flex-direction: column; }

  .welcome-chart {
    margin-top: 40px; } }
.page {
  display: flex;
  flex-direction: column; }

.stock-info {
  display: flex;
  flex-direction: column;
  background-color: #e7e6e6;
  border-radius: 4px;
  padding: 15px; }

.stock-info-head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px inset #c2c1c1; }

.stock-info-price {
  color: #d1bb3d;
  align-self: center;
  margin: 0 10px; }

.stock-info-ticker {
  flex: 1 1;
  text-align: center;
  color: #525252;
  font-size: 45px;
  text-shadow: #2c4053 1px 1px 4px; }

.stock-info-body {
  display: flex;
  flex-direction: row;
  margin: 10px 10px; }

.stock-info-left {
  flex-grow: 1;
  border: 1px dotted white;
  background-color: white;
  border-radius: 3px;
  padding: 15px; }

.stock-info-right {
  flex-grow: 2;
  padding: 15px; }

.stock-info-bottom {
  padding: 10px;
  text-align: left;
  border-top: solid 2px rgba(255, 255, 255, 0.06);
  margin-top: 20px; }

.stock-info-week52Limits {
  align-self: center;
  justify-content: center; }

.week-52-low {
  color: #b83535;
  padding: 3px; }

.week-52-high {
  color: #29a329;
  padding: 3px; }

.profile-card {
  background-color: #e7e6e6;
  border-radius: 4px;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 1px 1px #bebcbc; }

.profile-card-top {
  display: flex;
  flex-direction: row; }

.profile-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 4px solid #2c4053;
  padding: 10px;
  margin: 20px;
  background-color: #d3cb9b; }

.user-info {
  flex: 1 1;
  align-self: center;
  margin-left: 8%; }

.user-data {
  flex: 1 1;
  align-self: center;
  display: flex;
  flex-direction: row; }

.home-page,
.profile-page,
.stockInfo-page {
  display: flex;
  flex-direction: row;
  padding: 0 5%; }

.page-left {
  flex: 1 1 70%; }

.page-right {
  flex: 0 1 30%; }

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.site-content {
  flex: 1 0 auto; }

#footer {
  background-color: #2c3f53;
  color: #DAA520; }
  #footer .footer-copyright {
    background-color: #383737;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center; }
    #footer .footer-copyright p {
      margin: 10px;
      color: #ccc; }
  #footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
    color: white; }
  #footer ul:hover, #footer #myFooter ul:focus {
    color: white;
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
    color: white; }
  #footer h5 {
    font-size: 18px;
    color: #D2CA9B;
    font-weight: bold;
    margin-top: 30px; }
  #footer a {
    color: #D2CA9B;
    text-decoration: none; }
  #footer a:hover {
    color: white; }
  #footer .myCols {
    text-align: center; }
  #footer .social-networks {
    text-align: center;
    font-size: 25px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
    margin: 10px; }
    #footer .social-networks a {
      margin: 20px; }
    #footer .social-networks a:hover {
      text-decoration: none; }
  #footer .facebook:hover {
    color: #0077e2; }
  #footer .google:hover {
    color: #ef1a1a; }
  #footer .twitter:hover {
    color: #00aced; }

@media screen and (max-width: 767px) {
  #myFooter {
    text-align: center; } }
/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  color: #525252; }

body {
  font-family: sans-serif;
  background-size: cover;
  background-attachment: fixed; }

.about-profile-pic {
  float: left;
  margin: 0 1em 1em 0; }

.app {
  display: flex;
  flex-direction: column; }

.body-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }

.container-list {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  flex: 1;
  height: 200px;
  overflow-y: scroll; }

.display-field-key {
  color: black;
  font-weight: 700; }

.display-field-value {
  color: #525252;
  padding-left: 15px; }

.error {
  color: red; }

/* Forms */
form {
  width: 25%;
  min-width: 350px;
  margin: 5% auto 0 auto;
  text-align: center; }
  form button {
    color: white;
    background: slategrey;
    border: none; }
  form button:hover {
    color: black;
    background: #d3cb9b;
    border: 1px solid gold;
    box-shadow: 0 0 5px 1px gold; }

.form-body {
  padding-top: 10px;
  background: linear-gradient(slategrey 0%, white 100%); }

.form-title {
  color: white;
  height: 50px;
  background-color: slategrey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 1px; }

.form-control {
  width: 100%; }

.form-group {
  width: 100%;
  padding: 10px;
  margin: 3px; }

.header-image {
  width: 100%;
  margin-top: -2em;
  margin-bottom: 2em; }

/*
    Following removes scrollbars from inputs with type="number"...
*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

input[type=text],
input[type="password"] {
  text-align: center; }

.input-group > input[type=text] {
  text-align: left;
  padding-left: 10px; }

input[type=text]:focus,
input[type="password"]:focus {
  background-color: #fcf6d8;
  border: 1px solid gold;
  box-shadow: 0 0 5px 1px gold; }

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
  border-radius: 5px;
  width: 400px; }

.list-group-item {
  width: 200px;
  height: 50px;
  font-size: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid gold;
  width: 120px;
  height: 120px;
  -webkit-animation: spin .7s linear infinite;
  animation: spin .7s linear infinite; }

.main-container {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 80px;
  /* height of your footer */ }

/* 
    Media Component Styles (react-bootstrap)
*/
.media {
  border-radius: 10px;
  margin: 10px;
  padding: 10px; }

.media-heading {
  font-size: 18px; }

.media-body p {
  font-size: 14px; }

.jumbotron {
  background-color: white;
  height: 600px;
  margin: 30px 0 auto auto; }

.portfolio-item {
  display: inline;
  flex: auto;
  list-style-type: none;
  background: #fafafa; }

.portfolio-item:hover {
  cursor: pointer; }

.portfolio-stocks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ececec;
  padding: 0; }

.price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1; }

.profile-pic {
  width: 50%; }

.signing-out {
  position: absolute;
  left: 50.20%;
  top: 70%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px; }

.signup_form {
  margin: 0 auto;
  width: 50%;
  text-align: center; }

.simulator {
  float: right;
  width: 30%; }

.search {
  position: absolute;
  margin-top: 10px;
  margin-left: 100px;
  width: 400px;
  z-index: 2; }

.search-bar {
  width: 300px; }

.trader {
  flex: 1 1; }

.user-home {
  display: inline; }

/*# sourceMappingURL=style.css.map */
