.display-field-stack{
    display: flex;
    flex-direction: column;
    .display-field-value{
        margin-left: 10px;
    }
}

.display-field-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.display-field-key {
    color: $color_text;
    font-weight: 700; 
}
  
.display-field-value {
    color: $color_text; 
}