.display-field-stack{
    display: flex;
    flex-direction: column;
}

.display-field-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.display-field-key {
    color: black;
    font-weight: 700; 
}
  
.display-field-value {
    color: $color_text; 
}