.navbar{
  border: none;
  border-radius: 0;
  margin: 0;
}

.navbar-default .navbar-brand {
    color: $color_text;
}

.navbar-brand {
  float: left;
  height: 500px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a{
  color: $color_text_nav;
  text-shadow: none;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover{
  color: $color_text_nav_hover;
  background-color: $color_bg_nav_hover;
  transition: background-color .1s ease-in, color .1s ease-in;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a:focus{
  color: $color_text_nav;
  background-color: $color_bg_nav;
}

/* override bootstrap navbar colors */
.navbar,
.navbar-default { 
  background: $color_bg_nav;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}