.profile-page, 
.stockInfo-page{
    display: flex;
    flex-direction: row;
    padding: 0 5%;
}

.page-left{
    flex: 1 1 20%;
}

.page.center{
    flex: 1 1 60%;
}

.page-right{
    flex: 1 1 20%;
}