.home-page,
.profile-page, 
.stockInfo-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-left{
    flex: 1 1 20%;
    margin-right: 10px;
}

.page-center{
    flex: 1 1 50%;
}

.page-right{
    flex: 1 1 20%;
    margin-left: 10px;
}

.site{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

