.profile-card{
    width: 500px;
    display: flex;
    flex-direction: column;
}

.profile-card-top{
    display: flex;
    flex-direction: row;
}

.profile-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 4px solid $color_bg_nav;
    padding: 10px;
    margin: 20px;
    background-color: $color_text_nav;
}

.user-info{
    flex: 1 1;
    align-self: center; 
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.user-data{
    flex: 1 1;
    align-self: center;
    display: flex;
    flex-direction: row;
}