.about{
    padding: 10px;

    .display-field-key{
        text-align: center;
        padding-bottom: 5px;
    }
    .display-field-value{
        text-align: left;
    }
}

.stock-info-card {
    display: flex;
    flex-direction: column;
}

.stock-info-head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    margin: -15px -16px 20px -16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid rgb(134, 134, 134);
    // border-bottom: none;
    // box-shadow: 0 1px rgb(192, 192, 192);
    box-shadow: 0 0 1px 1px rgb(190, 188, 188);
    background-color: rgb(155, 155, 155);
    // background-color: rgb(138, 68, 68);
}
  
.stock-info-price {
    color: $color_displayField_key;
    align-self: center;
    margin: 0 10px; 
    padding: 7px;
    background-color: $color_text_nav;
    border: 1px solid rgb(126, 126, 126);
    box-shadow: 0 0 2px  rgb(126, 126, 126);
    border-radius: 4px;
    h2{
        line-height: 100%;
    }
}
  
.stock-info-ticker {
    flex: 1 1;
    padding-left: 25px;
    // color: $color_text;
    color: $color_text_nav;
    font-size: 45px;
    text-shadow: $color_bg_nav 1px 1px 4px;
}
  
.stock-info-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 10px;
    padding: 10px;

    border-top: 1px solid rgb(126, 126, 126);
    border-bottom: 1px solid rgb(126, 126, 126);
}
  
.stock-info-left {
    flex-grow: 1 1;
    padding: 15px; 
}

.stock-info-right{
    flex-grow: 1 1;
    padding: 15px;
}
  
.stock-info-bottom {
    padding: 10px;
    text-align: left;
    border-top: solid 2px rgba(255, 255, 255, 0.06);
}
  
.stock-info-week52Limits {
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: $color_text_nav;
    border: 1px solid rgb(126, 126, 126);
    box-shadow: 0 0 2px  rgb(126, 126, 126);
    // background-color: rgb(206, 206, 206);
    border-radius: 4px;
    padding:7px;
    margin: 10px;
    margin-left: 0;
}

.week-52-low,
.week-52-high{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
}

.week-52-low {
    color: #b83535; 
}
  
.week-52-high {
    color: #29a329; 
}

.week-52-value{
    margin-right: 5px;
}