// $color_text: #777;
$color_text: rgb(82, 82, 82);
$color_displayField_key: #e07d2b;
$color_bg: #f8f8f8;
$color_text_nav: rgb(211, 203, 155);
$color_text_nav_hover: rgb(223, 223, 223);
$color_bg_nav: #2c4053;
$color_bg_nav_hover: #364e64;


// $height_footer: 120px;