.welcome-bullets{
    display: flex;
    flex-direction: column;
}

.welcome-bullet-item{
    padding: 5px;
}

.welcome-button{
    align-self: center;
    color: white;
    background: slategrey;
    border: none;
}

.welcome-button:hover{
    color: black;
    background: $color_text_nav;
    border: 1px solid gold;
    box-shadow: 0 0 5px 1px gold;
}

.welcome-chart{
    flex: 1 1 40%;
    align-self: center;
}

.welcome-component{
    height: 55%;
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin-top: 7%;
    align-items: center;
}

.welcome-headline {
    position: absolute;
    left: 50.20%;
    top: 70%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
}

.welcome-info{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 40%;
}

.welcome-info>h1{
    text-align: center;
    font-size: 55px;
    color: $color_bg_nav;
}

.welcome-info>h4{
    margin-top: 20px;
    padding: 0 20px;
}

@media screen and (max-width: 992px){
    .welcome-component{
        flex-direction: column;
    }
    .welcome-bullets{
        flex-direction: row;
    }
    .welcome-chart{
        margin-top: 40px;
    }
}

@media screen and (max-width: 767px){
    .welcome-component{
        flex-direction: column;
    }
    .welcome-bullets{
        flex-direction: column;
    }
    .welcome-chart{
        margin-top: 40px;
    }
}