@import "variables";
@import "nav";
@import "welcomeComponent";
@import "stockInfo";
@import "profile";
@import "pageLayouts";
@import "trade";
@import "simulator";


/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

html, body {
    height: 100%;
    position: relative; 
    color: $color_text;
}
  
body {
    background-color: $color_bg_body;
    margin: 0;
    font-family: sans-serif;
    background-size: cover;
    background-attachment: fixed; 
}

.about-profile-pic {
    float: left;
    margin: 0 1em 1em 0;
}

.app {
    display: flex;
    flex-direction: column; }

.body-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.card{
    background-color: $color_bg_card;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px rgb(190, 188, 188);
    padding: 15px;
}

.display-field-key {
    color: black;
    font-weight: 700; 
}
  
.display-field-value {
    color: $color_text; 
    padding-left: 15px;
}

.error{
    color: red;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;

    font-size: 20px;
    background-image: linear-gradient(to top,#fff 0%,#f8f8f8 100%);
    box-shadow: 0 -1px 1px 0 rgb(228, 225, 225);
    height: $height_footer;
    line-height: $height_footer;
    margin: 0;
    text-align: center;
}

/* Forms */
form{
    width: 25%;
    min-width: 350px;
    margin: 5% auto 0 auto;
    text-align: center;
    button{
        color: white;
        background: slategrey;
        border: none;
    }
    button:hover{
        color: black;
        background: $color_text_nav;
        border: 1px solid gold;
        box-shadow: 0 0 5px 1px gold;
    }
}

.form-body{
    padding-top: 10px;
    background: linear-gradient( $color_bg_nav 0%, $color_bg_body 100%);
}
  
.form-title {
    color: white;
    height: 50px;
    background-color: $color_bg_nav;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 1px;
}

.form-control {
    width: 100%;
}

.form-group{
    width: 100%;
    padding: 10px;
    margin: 3px;
}

.header-image {
    width: 100%;
    margin-top: -2em;
    margin-bottom: 2em;
}

.home{
    height: 100vh;
    background-color: white;
}

/*
    Following removes scrollbars from inputs with type="number"...
*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=text],
input[type=number],
input[type="password"]{
    text-align: center;
}

.input-group>input[type=text]{
    text-align: left;
    padding-left: 10px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type="password"]:focus{
    background-color: rgb(252, 246, 216);
    border: 1px solid gold;
    box-shadow: 0 0 5px 1px gold;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-radius: 5px;
    width: 400px;
  }

.list-group-item {
    width: 200px;
    height: 50px;
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid gold;
    width: 120px;
    height: 120px;
    -webkit-animation: spin .7s linear infinite;
    animation: spin .7s linear infinite;
  }

.main-container {
    min-height: 100vh;
    /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 80px;
    /* height of your footer */ 
}

/* 
    Media Component Styles (react-bootstrap)
*/
.media {
    border-radius: 10px;
    margin: 10px;
    padding: 10px; 
}
  
.media-heading {
    font-size: 18px; 
}
  
.media-body p {
    font-size: 14px; 
}

.jumbotron{
    background-color: white;
    height: 600px;
    margin: 30px 0 auto auto;
}

.portfolio-item {
    display: inline;
    flex: auto; 
    list-style-type: none;
    background: #fafafa;
}

.portfolio-item:hover {
    cursor: pointer;
}

.portfolio-stocks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ececec;
    padding: 0;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1;
}

.profile-pic {
    width: 50%;
}

.signing-out {

    position: absolute;
    left: 50.20%;
    top: 70%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
  
}

.signup_form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.search {
    position: absolute;
    margin-top: 10px;
    margin-left: 100px;
    width: 400px;
    z-index: 2;
}
  
.search-bar {
width: 300px;
}

.user-home {
    display: inline;
}

